div[id="2x-container"]
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  :first-child {
  width: 100%;
  max-width: none;
}

div[id="2x-container"]
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  :first-child:first-child {
  width: unset;
  max-width: unset;
}

div[id="2x-container"]
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  :first-child
  > div
  > div {
  width: auto;
}

[alt="User avatar"] {
  height: 28px;
}

div[id="2x-container"]
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div[style="margin-left:24px;margin-top:0"] {
  display: none;
}

.threadline {
  width: 20px !important;
}
